﻿body {
    background-color: #ededee;
    padding: 20px;
    margin: 0;
    font-family: 'Raleway', Arial;
}

.no-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .no-list li {
        padding: 0;
        margin: 0;
    }

        .no-list li a {
            padding: 0;
            margin: 0;
            display: block;
        }

*:before, *:after {
    font-family: FontAwesome;
}

aside.sidebar {
    color: rgb(168, 101, 80);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: rgb(18, 49, 50);
    width: 50px;
    overflow: hidden;
    transition: all 0.5s;
}

    aside.sidebar:hover {
        width: 170px;
    }

        aside.sidebar:hover ul.sb_top_lv li span {
            left: 50px;
            transition-delay: .318s;
            opacity: 1;
        }

    aside.sidebar ul.sb_top_lv {
        float: left;
        width: 100%;
    }

        aside.sidebar ul.sb_top_lv li {
            float: left;
            width: 100%;
            color: darkgrey;
            position: relative;
            padding: 10px 15px;
            text-align: left;
            transition: all 0.5s;
        }

            aside.sidebar ul.sb_top_lv li:hover {
                cursor: pointer;
                background: rgba(0,0,0,0.3);
            }

            aside.sidebar ul.sb_top_lv li a:hover {
                cursor: pointer;
                color: rgb(168, 101, 80);
            }

            aside.sidebar ul.sb_top_lv li.opened ul.sb_dropdown {
                height: 500px;
                opacity: 1;
                left: 0;
            }

            aside.sidebar ul.sb_top_lv li span {
                transition: all 0.2s;
                position: absolute;
                left: 60px;
                font-size: 12px;
                top: 12px;
                opacity: 0;
            }

            aside.sidebar ul.sb_top_lv li i {
                font-size: 18px;
            }

    aside.sidebar ul.sb_dropdown {
        transition: all 0.5s;
        position: relative;
        opacity: 0;
        top: 0;
        height: 0px;
        overflow: hidden;
        width: 200px;
        left: 25px;
    }

        aside.sidebar ul.sb_dropdown p {
            text-align: center;
        }

        aside.sidebar ul.sb_dropdown li a {
            color: white;
            font-size: 12px;
        }

            aside.sidebar ul.sb_dropdown li a:before {
                content: "\f10c";
                padding-right: 5px;
            }

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 252px auto;
    grid-template-rows: 100px 100px;
}

.a {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 20;
}

.sidebar {
    width: 252px;
    height: 1400px;
    margin-left: 0;
    position: fixed;
    z-index: 1000;
    background-color: rgb(0, 30, 49);
}

    .sidebar .fa {
        background: -webkit-linear-gradient( rgba(237, 237, 238,0.7), rgba(98, 30, 9, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.sub-servs {
    z-index: -999;
}

    .sub-servs a {
        color: darkgrey;
        text-decoration-line: none;
        cursor: pointer;
    }


.serv-block {
    box-shadow: initial;
    background: rgb(18, 49, 50);
    margin: 0px;
    height: 130px;
    border-radius: 5px;
    text-align: left;
}

    .serv-block:hover {
        color: #a86550;
        opacity: 0.9;
    }

    .serv-block h3, .serv-block h4, .serv-blockSmall h3, .serv-blockSmall h4 {
        padding: 15px 10px 0px 25px;
    }

.large {
    margin-right: 15px;
    margin-top: 15px;
    font-size: 70px;
    background: -webkit-linear-gradient( rgba(237, 237, 238,0.7), rgba(98, 30, 9, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.serv-block small {
    padding: 25px 0px 0px 0px;
}

.box-shadow {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}
/* Bar Graph Vertical */

.bar-graph .year {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
}

.bar-graph-vertical {
    margin-top: 80px;
    margin-left: 40px;
    width: 100%;
    padding: 0px;
}

    .bar-graph-vertical .bar-container {
        float: left;
        height: 300px;
        margin-top: 20px;
        margin-right: 4%;
        position: relative;
        text-align: center;
        width: 35px;
    }

    .bar-graph-vertical .bar {
        border-radius: 3px;
        bottom: 40px;
        position: absolute;
        width: 35px;
    }

    .bar-graph-vertical .year {
        bottom: 0;
        left: 0;
        margin: 0 auto;
        color: #a9a9a9;
        position: absolute;
        right: 0;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

.bar-graph-two .bar::after {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
    color: #fff;
    content: attr(data-percentage);
    font-weight: 700;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: left;
    top: 24px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bar-graph-two .bar-one .bar {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    background-image: linear-gradient(to right,rgba(237, 237, 238,0.7), rgba(98, 30, 9, 1));
    -webkit-animation: show-bar-one-vertical 1.2s 0.1s forwards;
    -moz-animation: show-bar-one-vertical 1.2s 0.1s forwards;
    animation: show-bar-one-vertical 1.2s 0.1s forwards;
}

.bar-graph-two .bar-two .bar {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    background-image: linear-gradient(to right,rgba(237, 237, 238,0.6), rgba(98, 30, 9, 1));
    -webkit-animation: show-bar-two-vertical 1.2s 0.2s forwards;
    -moz-animation: show-bar-two-vertical 1.2s 0.2s forwards;
    animation: show-bar-two-vertical 1.2s 0.2s forwards;
}

.bar-graph-two .bar-three .bar {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    background-image: linear-gradient(to right,rgba(237, 237, 238,0.5), rgba(98, 30, 9, 1));
    -webkit-animation: show-bar-three-vertical 1.2s 0.3s forwards;
    -moz-animation: show-bar-three-vertical 1.2s 0.3s forwards;
    animation: show-bar-three-vertical 1.2s 0.3s forwards;
}

.bar-graph-two .bar-four .bar {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    background-image: linear-gradient(to right,rgba(237, 237, 238,0.4), rgba(98, 30, 9, 1));
    -webkit-animation: show-bar-four-vertical 1.2s 0.4s forwards;
    -moz-animation: show-bar-four-vertical 1.2s 0.4s forwards;
    animation: show-bar-four-vertical 1.2s 0.4s forwards;
}

.bar-graph-two .bar-five .bar {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    background-image: linear-gradient(to right,rgba(237, 237, 238,0.4), rgba(98, 30, 9, 1));
    -webkit-animation: show-bar-five-vertical 1.2s 0.5s forwards;
    -moz-animation: show-bar-five-vertical 1.2s 0.5s forwards;
    animation: show-bar-five-vertical 1.2s 0.5s forwards;
}

.bar-graph-two .bar-six .bar {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    background-image: linear-gradient(to right,rgba(237, 237, 238,0.3), rgba(98, 30, 9, 1));
    -webkit-animation: show-bar-six-vertical 1.2s 0.6s forwards;
    -moz-animation: show-bar-six-vertical 1.2s 0.6s forwards;
    animation: show-bar-six-vertical 1.2s 0.6s forwards;
}

.bar-graph-two .bar-seven .bar {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    background-image: linear-gradient(to right,rgba(237, 237, 238,0.3), rgba(98, 30, 9, 1));
    -webkit-animation: show-bar-seven-vertical 1.2s 0.7s forwards;
    -moz-animation: show-bar-seven-vertical 1.2s 0.7s forwards;
    animation: show-bar-seven-vertical 1.2s 0.7s forwards;
}

.bar-graph-two .bar-eight .bar {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    background-image: linear-gradient(to right,rgba(237, 237, 238,0.3), rgba(98, 30, 9, 1));
    -webkit-animation: show-bar-eight-vertical 1.2s 0.8s forwards;
    -moz-animation: show-bar-eight-vertical 1.2s 0.8s forwards;
    animation: show-bar-eight-vertical 1.2s 0.7s forwards;
}
/* Bar Graph Vertical Animations */
@-webkit-keyframes show-bar-one-vertical {
    0% {
        height: 0;
    }

    100% {
        height: 30%;
    }
}

@-webkit-keyframes show-bar-two-vertical {
    0% {
        height: 0;
    }

    100% {
        height: 40%;
    }
}

@-webkit-keyframes show-bar-three-vertical {
    0% {
        height: 0;
    }

    100% {
        height: 50%;
    }
}

@-webkit-keyframes show-bar-four-vertical {
    0% {
        height: 0;
    }

    100% {
        height: 60%;
    }
}

@-webkit-keyframes show-bar-five-vertical {
    0% {
        height: 0;
    }

    100% {
        height: 70%;
    }
}

@-webkit-keyframes show-bar-six-vertical {
    0% {
        height: 0;
    }

    100% {
        height: 80%;
    }
}

@-webkit-keyframes show-bar-seven-vertical {
    0% {
        height: 0;
    }

    100% {
        height: 90%;
    }
}

@-webkit-keyframes show-bar-eight-vertical {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@-webkit-keyframes fade-in-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.graph-info {
    text-align: center
}

h1, h2, h3, h4, h5 {
    font-family: 'Kalam',cursive;
    font-weight: normal;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#header {
    background-image: url('/assets/banners/flowers-1696186_1920.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 300px;
    margin-top: -20px;
}

    #header .mainhading {
        padding-top: 200px;
        padding-left: 10%;
        color: rgb(255, 195, 17);
        opacity: 1;
    }


.outer-a {
    color: rgb(168, 101, 80);
}


.profile form {
    margin-top: -40px;
    z-index: -999;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    border: 1px solid rgb(18, 49, 50);
    border-radius: 5px 5px 10px 10px;
    background-color: transparent;
}

.input-group {
    z-index: 1;
    border-radius: 0;
    border-width: 0 0 1px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10%;
    width: 38%;
}

@media screen and (max-width: 766px) {
    /* Rubah behaviour .container */
    .input-group {
        z-index: 1;
        border-radius: 0;
        border-width: 0 0 1px;
        border-bottom-color: rgba(0, 0, 0, 0.25);
        margin-top: 50px;
        margin-bottom: 10px;
        margin-left: 10%;
        width: 87%;
        box-shadow: none
    }
}

.input-group input {
    box-shadow: none;
    background-color: transparent;
    border: none;
    height: 40px;
    border-bottom: 1px solid;
}

    .input-group input:focus, .address input:focus {
        text-decoration: none;
        box-shadow: none;
        border-bottom: 2px solid rgb(18, 49, 50);
    }



.address {
    width: 87%;
}

.update-profile {
    background-color: rgb(168, 101, 80);
    padding: 7px;
    color: rgb(18, 49, 50);
    width: 150px;
}

    .update-profile:hover {
        background-color: rgb(18, 49, 50);
        padding: 7px;
        color: rgb(168, 101, 80);
        width: 150px;
    }

.profile-info {
    z-index: 999;
    margin: 0px 20px 0px 20px;
    border-radius: 10px 10px 2px 2px;
    text-align: center;
    color: darkgray;
    background-color: rgb(18, 49, 50);
}

input:focus ~ .floating-label, input:not(:focus):valid ~ .floating-label {
    top: -10px;
    bottom: 0px;
    left: 5px;
    font-size: 15px;
    opacity: 1;
    color: darkgrey;
    border-bottom-left-radius: 20px;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 20px;
    transition: 0.2s ease all;
}

.profile-part2 {
    margin-top: 50px;
    text-align: center;
}

.avatar-upload {
    position: relative;
    max-width: 180px;
}

    .avatar-upload .avatar-edit {
        position: absolute;
        right: 13px;
        z-index: 1;
        top: 10px;
    }

        .avatar-upload .avatar-edit input {
            display: none;
        }

            .avatar-upload .avatar-edit input + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
            }

                .avatar-upload .avatar-edit input + label:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                .avatar-upload .avatar-edit input + label:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 7px;
                    left: 10px;
                    font-size: 15px;
                    text-align: center;
                }

    .avatar-upload .avatar-preview {
        width: 172px;
        height: 172px;
        position: relative;
        background-color: #051622;
        border-radius: 100%;
        border: 3px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
    }

        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

.manager-details {
    background-color: transparent;
    border: 1px solid rgb(18, 49, 50);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    padding-top: 90px;
    padding-bottom: 30px;
    margin-top: -80px;
    width: 172px;
    border-radius: 0 0 10px 10px;
    color: rgb(168, 101, 80);
}

table {
    border: 1px solid rgb(18, 49, 50);
    margin-top: -40px;
    color: darkgray;
}

.table-background {
    background-color: transparent;
    border-radius: 5px 5px 10px 10px;
}

table .fa {
    font-size: 15px;
    color: rgb(168, 101, 80);
}

.table thead tr th {
    padding-top: 50px;
    color: rgb(168, 101, 80);
}

.registration-info {
    z-index: 999;
    margin: 0px 20px 0px 20px;
    border-radius: 10px 10px 2px 2px;
    text-align: center;
    color: darkgray;
    background-color: rgb(18, 49, 50);
}

.subtab {
    margin-top: 70px;
}

.filter-handle {
    background-color: #123132;
    border: none;
    border-bottom: 1px solid;
    border-color: darkgrey;
}

.wrapper {
    margin-top: 50px;
    background-color: #123132;
    display: block;
    border: 1px solid rgb(27, 160, 152);
    width: 100%;
    height: 500px;
    position: relative;
    color: darkgray;
    border-radius: 5px;
}

.img-prdct {
    width: 30px;
    height: 30px;
    background-color: #777777;
    border-radius: 4px;
}

    .img-prdct img {
        width: 100%;
    }

.userLogo .fa {
    background: -webkit-linear-gradient( rgba(237, 237, 238,0.5), rgb(18, 49, 50));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.view-Order-a {
    margin-right: 20px;
}

    .view-Order-a .fa {
        color: rgb(168, 101, 80);
        font-size: 16px;
    }

.order-details {
    color: rgb(18, 49, 50)
}
