﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html {
    scroll-behavior: smooth;
}
html{
}
body {
    background: rgb(237, 237, 238);
    width: 100%;
}

.navbar{
    background-color:rgb(237, 237, 238);
}
#myNavbar {
    padding-top: 10px;
}
.navbar-header{

}
.nav > li > a {
    color: rgb(168, 101, 80);
    text-align: center;
}
    .nav > li > a:hover {
        background-color: transparent;
        color: rgb(18, 49, 50);
    }
        .navbar-header a, button > span {
            font-size: 23px;
            color: rgb(168, 101, 80);

        }

.navbar.glyphicon-shopping-cart {
    font-size: 23px;
    color: rgb(168, 101, 80);
}
    .navbar.glyphicon-shopping-cart:hover {
        color: rgb(18, 49, 50);
    }
/* Trigger bootstrap navbar collapse pada viewport <= 1200px */
@media (max-width: 1199px) {
    .navbar-right >.cart {
        display: none;
    }
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }

    /* Hapus gap 15px pada .navbar-collapse */
    .navbar .navbar-nav {
        margin-left: -15px;
        margin-right: -15px;
    }

    /* Merapihkan dropdown menu: Warna, posisi dll */
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px;
    }
}
.dropdown-menu {
    text-align:left;
    color: rgb(168, 101, 80);
    background-color: transparent
}
@media (max-width: 1200px) {
    .dropdown-menu {
        text-align: center;
    }
}
    .dropdown-menu > li > a {
        font-size: 16px;
        color: rgb(168, 101, 80);
    }
    .dropdown-menu > li > a:hover {
        color: rgb(18, 49, 50);
        background-color: rgb(26, 65, 98);
    }



@media screen and (min-width: 1200px) {
    /* Rubah behaviour .container */
    .navbar .container {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        max-width: 1170px;
        width: initial;
    }
    .notification {
        display: none;
    }
    .navbar > .container .navbar-brand {
        margin-left: 0;
    }

    .navbar .container .navbar-header {
        margin-left: 0;
        margin-right: 0;
    }
}

.tag {
    margin-top:-10px;
    height:auto;
    width: 150px
}

.modal {
    left: 0;
    margin: auto;
    /*background-color: rgba(0,0,0,0.5);*/
    padding-top: 100px;
    overflow:scroll;
}
#loginModal {
    max-width: 400px;
}
    #signUpModal h4, #loginModal h4 {
        text-align: center
    }
.panel {
    background-color: rgb(62, 101, 147)
}

.logform {
    margin: 10px;
}

    .logform label {
        margin-bottom: -5px;
    }

    .logform #input {
        background-color: transparent;
        width: 100%;
        transition: 0.9s;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid rgb(26, 65, 98);
    }

.signUpForm input{
    width:100%;
}
.signUpForm {
text-align:left;
display:inline-block
}
.modal-footer button {
    width: 100px;
    transition: 0.9s;
}
    .modal-footer button:hover {
        opacity:0.8;
        transition: 0.9s;
    }
#submit, #signUpNow {
    margin-top: 7px;
}

.animate {
    -webkit-animation: animatezoom 0.9s;
    animation: animatezoom 0.9s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}



.welcome-msg {
    text-align: center;
}

    .welcome-msg h1 {
        color: #fff;
        font-family: 'kalam';
        font-size: 50px;
        font-weight: normal;
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: center;
        text-shadow: 1px 1px 2px #082b34;
    }


#home {
    margin-top: 50px;
    transition: 1s;
    width: 100%;
}

    #home .carousel-caption h1 {
        font-family: 'courier';
        font-weight: 500;
        font-size: 80px;
        text-shadow: 0 1px 2px rgb(168, 101, 80);
        color: #fff;
        margin-top: -90px;
        top: 0;
        text-shadow: 0px 0px 0px white,
            0px 0px 10px black,
            0px 0px 20px black,
            0px 0px 30px black,
            0px 0px 40px black,
            0px 0px 50px black,
            0px 0px 60px black;
    }
    #home .carousel-caption h2 {
        min-width: 300px;
        color: rgb(18, 49, 50);
        font-weight:600;
        font-size: 40px;
        text-align: center;
        font-family: 'courier';
        margin-bottom: 50px;
        margin-top: 40px;
        border-radius: 10px;
        text-shadow: 0px 0px 0px white,
            0px 0px 10px white,
            0px 0px 20px white,
            0px 0px 30px white,
            0px 0px 40px white,
            0px 0px 50px white,
            0px 0px 60px white;
    }
    #home .carousel-caption a {
        margin-bottom: -300px;
    }
    @media (max-width: 765px) {
        #home .carousel-caption a {
            margin-bottom: 0px;
        }
    }

    #home .search {
        margin-top: -150px;
    }
    @media (max-width: 765px) {

        #home .search {
            margin-top: -250px;
        }
    }

    #home .carousel img {
        width: 100vw;
        height: 80vh;
        object-fit: cover;
    }

.search {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 50%;
    margin-bottom: 200px;
    padding: 5px;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: 2px solid rgb(18, 49, 50);
    box-sizing: border-box;
    background-color:rgba(0, 0, 0, 0.5);
    transition: 1.5s;
}

    .search input {
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
        width: 100%;
        height: 34px;
        line-height: 50px;
        outline: 0;
        display: none;
        font-size: 16px;
        border-radius: 25px;
        padding: 10px;
        background-color: rgba(0,0,0,0.5);
    }

    .search:hover {
        width: 400px;
        cursor: pointer;
    }

        .search:hover input {
            display: block;
        }

.glyphicon-search {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    width: 34px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    color: rgb(168, 101, 80);
    transition: 1.5s;
    background: rgb(18, 49, 50);
    padding: 5px;
}

@keyframes slide {
    100% {
        margin-top: -800px
    }

    80% {
        margin-top: -640px
    }

    60% {
        margin-top: -480px
    }

    40% {
        margin-top: -320px
    }

    20% {
        margin-top: -160px
    }

    0% {
        margin-top: 0px
    }
}
img {
    height: 100%;
    width: 100%;
}

/*.videobackground {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: -1;
}*/


.viewAll {
    transition: 0.5s;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 38%;
    width: 25%;
    max-width: 150px;
    background-color: rgb(168, 101, 80);
    color: rgb(18, 49, 50);
    border-radius: 0;
}
.btn-buy {
    transition: 0.5s;
    margin-top: 180px;
    border-radius: 0;
    width: 150px;
    background-color: rgb(168, 101, 80);
    color: rgb(18, 49, 50);
}
.btn-buy-all {
    transition: 0.5s;
    margin-top: 100px;
    border-radius: 0;
    width: 150px;
    background-color: rgb(168, 101, 80);
    color: rgb(18, 49, 50);
}
.btn-send {
    margin-top: -4px;
    min-width: 400px;
    width: 70%;
    background-color: rgb(168, 101, 80);
    color: rgb(18, 49, 50);
    border-radius: 0px;
}
    .btn-send:hover {
        opacity: 0.8;
        color: rgb(18, 49, 50);
    }
.btn-buy:hover, .btn-buy-all:hover, .viewAll:hover, .cart-btn:hover, .loadMore-btn:hover {
    transition: 0.5s;
    background-color: rgb(18, 49, 50);
    color: rgb(168, 101, 80);
}


.mainheading {
    font-family: 'kalam';
    font-size: 35px;
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
    margin-top: 50px;
}
    .about-content:before,
    .about-content:after,
    .mainheading:before,
    .mainheading:after {
        content: '';
        border-top: 2px solid;
    }

.psum-caption{
    margin-top:90px;
}
#shop {
    padding-top:100px;

}

.boxhidden {
    display: none;
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: transparent;
    color:rgb(168, 101, 80);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.image-container:hover .overlay {
    opacity: 1;
    bottom: 0;
    height: 50px;
}

.psum-item > .image-container > .overlay > a {
    color: rgb(168, 101, 80);
}
    .psum-item > .image-container > .overlay > a:hover {
        color: rgb(18, 49, 50);
        border-left-color: rgb(18, 49, 50);
    }
.overlay-btn {
    margin-top: 10px;
    border-radius: 0;
    width: 120px;
    background-color: transparent;
    border-left: 2px solid rgb(168, 101, 80);
}
.quickview-btn {
    margin-top: 10px;
    border-radius: 0;
    width: 120px;
    background-color: transparent;
    border-left: 2px solid rgb(168, 101, 80);
}
.loadMore-btn {
    transition: 0.5s;
    left: 0;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 150px;
    background-color: rgb(168, 101, 80);
    color: rgb(18, 49, 50);
    border-radius: 0;
}
.cart-btn {
    transition: 0.5s;
    margin-top: 10px;
    border-radius: 0;
    width: 150px;
    background-color: rgb(168, 101, 80);
    color: rgb(18, 49, 50);
}
.badge {
    color: white;
    background-color: rgb(18, 49, 50);
}
.psum-name {
    position: absolute;
    right: 15%;
    bottom: 60%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(168, 101, 80);
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}


#about {
    padding-top: 100px;
}
p {
    text-align: center;
    color:rgb(168, 101, 80);
}
.about-image {
    width: 105%;
    height: auto;
    margin-left: -14px;
}
.about-content {
    font-size: 65px;
    font-family: Arial;
    color: rgb(168, 101, 80);
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
    padding-top: 100px;
}
.about {
    background-color:rgb(18, 49, 50);
    height:100%;
    padding-bottom:60px;
}

.has-feedback {
   text-align:center;
   margin-top:50px;
}
#contact {
    padding-top: 100px;
    text-align: center;
}
.text-center{
    margin-top:15px;
}
    .text-center a {
        transition: 0.5s;
        color: rgb(168, 101, 80);
    }
        .text-center a:hover{
            transition: 0.5s;
            color: rgb(18, 49, 50);
        }

#faq {
    padding-top: 100px;
}
.faq-Section {
    padding-top:30px;
    border-bottom: 1px solid rgb(168, 101, 80);
}
    .faq-Section a {
        transition: 0.8s;
        color: rgb(168, 101, 80);
        text-decoration-line: none;
        cursor: pointer;
    }
    .faq-Section a:hover {
        transition:0.8s;
        color: rgb(18, 49, 50);
    }
    .faq-Section ol {
        color: rgb(168, 101, 80);
    }
    .faq-Section p{
        text-align:left;
    }
.faq-ans {
    display: none;
}


footer{
    background-color:rgb(18, 49, 50)
}

#footer a {
    font-family: 'Kalam', cursive;
    font-weight: normal;
    color: lightgrey;
    text-decoration-line: none;
    text-shadow: 1px 1px 5px #082b34;
    margin: auto
}

    #footer a:hover {
        font-size: 15px;
        transition: 0.5s;
        color:rgb(168, 101, 80);
    }

#footer hr {
    width: 40%;
    margin-left: 30%;
    color: #DEB992;
    border: 1px solid
}
#footer h3 {
color:rgb(168, 101, 80);
text-align:center;
}
.has-feedback button{
    margin-top:5px;
    border-radius:15px;
    border:none;
}

.social-media .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    color: rgb(168, 101, 80);
    background-color: transparent;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    margin: 2px 2px;
}

.fa-twitter:hover {
    text-decoration-line: none;
    background: #55ACEE;
    color: white;
}

.fa-facebook:hover {
    text-decoration-line: none;
    background: rgb(66, 103, 178);
    color: white;
}

.fa-google:hover {
    text-decoration-line: none;
    background: #dd4b39;
    color: white;
}

.fa-linkedin:hover {
    text-decoration-line: none;
    background: #007bb5;
    color: white;
}

.fa-youtube:hover {
    text-decoration-line: none;
    background: #bb0000;
    color: white;
}

.fa-instagram:hover {
    text-decoration-line: none;
    background: #125688;
    color: white;
}

#header {
  background-image: url("banners/poinsettia-210023_1920.jpg");
   background-attachment:fixed;
   background-position:center;
   background-repeat:no-repeat;
   background-size:cover;
   height:100%;
   min-height:700px;
}

    #viewAllPrduct {
        width: 100%;
        padding-top: 100px;
    }

.lg {
    top: 245px;
}
@media (max-width: 1200px) {
    .lg {
        top: 225px;
    }
}

input:focus,
button:focus,
.form-control:focus {
    outline: none;
    box-shadow: none;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
}

.table tr,
.table tr td {
    vertical-align: middle;
}

.button-container {
    display: flex;
    align-items: center;
}

    .button-container .form-control {
        max-width: 80px;
        text-align: center;
        display: inline-block;
        margin: 0px 5px;
    }


.cart-qty-plus,
.cart-qty-minus {
    width: 38px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

    .cart-qty-plus:hover,
    .cart-qty-minus:hover {
        background-color: #5161ce;
        color: #fff;
    }

.img-prdct {
    width: 50px;
    height: 50px;
    background-color: #5161ce;
    border-radius: 4px;
}

    .img-prdct img {
        width: 100%;
    }

#cartModal2 .input-group {
    margin:10px;
    width:80%;
}
#cartModal3 label{
width:70%;

}
.btn-next {
    width: 99%;
    transition: 0.5s;
    background-color: rgb(168, 101, 80);
    color: rgb(18, 49, 50);
    border-radius: 0;
}
    .btn-next:hover {
        transition:0.5s;
        background-color: rgb(18, 49, 50);
        color: rgb(168, 101, 80);
    }
.btn-prev {
    float:left;
}
.btn-default {
    margin-top:5px;
}
body.modal-open{
    overflow:hidden;
}
#loginModal .modal-content {
    position: relative;
    background-color: #fff;
    margin: 5% auto 15% auto;
    width: 350px;
}

.logform {
    margin: 10px;
}

    .logform label {
        margin-bottom: -5px;
    }

    .logform #input {
        background-color: transparent;
        width: 85%;
        transition: 0.9s;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid rgb(26, 65, 98);
    }

        .logform #input:hover {
            background-color: transparent;
            width: 95%;
            transition: 0.9s;
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid rgb(26, 65, 98);
        }

    .signUpForm .input-group, .logform .input-group {
        margin-top: 8px;
    }


#submit, .submit {
    transition: 0.9s;
    width: 30%;
    margin-top: 10px;
    margin-left: 35%;
    border-radius:0;
}

    #submit:hover, .submit:hover {
        transition: 0.9s;
        width: 35%;
        margin-top: 10px;
        border-radius: 0;
        margin-left: 32%;
    }
