﻿

.dgimg-icon{
    width:40px;
}

/****** Style for property summary view *******/
.psum-item {
    display: block;
    margin-top: 30px;
    border: solid 1px #d0d0d0;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.psum-image {
 
}

.psum-info {
    text-align: center;
}

.psum-item h2 {

    font-size: 120%;
    font-weight: normal;
    padding: 10px 0px;
    margin: 0px;
    color: #a86550;
}

.psum-item a {
    text-decoration:none;
    color: #a86550;
    cursor:pointer;
}

    .psum-item:hover, .psum-item a:hover, .psum-item h2:hover {
        color: #123132;
        transition: 0.5s;
    }

        .psum-item a:visited {
            text-decoration: none;
            color: #808080;
        }
